{# src/Codemonkey/PortfolioBundle/Resources/views/Default/index.html.twig #}
{% extends '::base.html.twig' %}

{% block body %}
    <div class="main-box">
        {# Include Menu file #}
        {{ include('CodemonkeyPortfolioBundle:Includes:menu.html.twig') }}

        {# Include Slider file #}
        {{ include('CodemonkeyPortfolioBundle:Includes:slider.html.twig') }}

        <!-- BEGIN CONTENT WRAPPER -->
        <div id="content-wrapper" class="content-wrapper">
            <div class="container">
                <!-- Secondary Content -->
                <div class="clearfix">
                    <div class="grid_8">
                        <hgroup>
                            <h2>{{ 'codemonkey.home.welcome_to'|trans({}, 'content') }}</h2>
                            <h3>{{ 'codemonkey.home.slogan'|trans({}, 'content') }}</h3>
                        </hgroup>

                        <p>{{ 'codemonkey.home.site_description1'|trans({}, 'content') }}</p>

                        <p>
                            <b>{{ 'codemonkey.home.site_description2'|trans({}, 'content') }}</b><br />
                            {{ 'codemonkey.home.site_description3'|trans({}, 'content') }}
                        </p>

                        <div class="hr"></div>

                        <div class="clearfix">
                            <div class="grid_4 alpha">
                                <!-- Icon Box -->
                                <div class="ico-box">
                                    <div class="ico-holder">
                                        <div class="ico-holder-inner">
                                            <i class="icon-money"></i>
                                        </div>
                                        <div class="ico-holder-back"></div>
                                    </div>
                                    <div class="ico-body inner-wrapper">
                                        <hgroup>
                                            <h4>{{ 'codemonkey.home.feature_description1a'|trans({}, 'content') }}</h4>
                                        </hgroup>
                                        <p>{{ 'codemonkey.home.feature_description1b'|trans({}, 'content') }}</p>
                                    </div>
                                </div>
                                <!-- Icon Box / End -->
                            </div>

                            <div class="grid_4 omega">
                                <!-- Icon Box -->
                                <div class="ico-box">
                                    <div class="ico-holder">
                                        <div class="ico-holder-inner">
                                            <i class="icon-html5"></i>
                                        </div>
                                        <div class="ico-holder-back"></div>
                                    </div>
                                    <div class="ico-body inner-wrapper">
                                        <hgroup>
                                            <h4>{{ 'codemonkey.home.feature_description2a'|trans({}, 'content') }}</h4>
                                        </hgroup>
                                        <p>{{ 'codemonkey.home.feature_description2b'|trans({}, 'content') }}</p>
                                    </div>
                                </div>
                                <!-- Icon Box / End -->
                            </div>
                        </div>
                    </div>

                    {# Include Last Posts file #}
                    {{ include('CodemonkeyPortfolioBundle:Includes:last_posts.html.twig') }}
                </div>
                <!-- Secondary Content / End -->

                <!-- Horizontal Rule (double) -->
                <div class="hr hr__double">
                    <div class="hr-first"></div>
                    <div class="hr-second"></div>
                </div>
                <!-- Horizontal Rule (double) / End -->

                {# Include Latest Projects file #}
                {{ include('CodemonkeyPortfolioBundle:Includes:latest_projects.html.twig') }}

                <!-- Horizontal Rule (double) -->
                <div class="hr hr__double">
                    <div class="hr-first"></div>
                    <div class="hr-second"></div>
                </div>
                <!-- Horizontal Rule (double) / End -->

            </div>

        </div>
        <!-- END CONTENT WRAPPER -->
    </div>
{% endblock %}