{# src/Codemonkey/PortfolioBundle/Resources/views/Default/index.html.twig #}
{% extends '::base.html.twig' %}

{% block body %}
    <div class="main-box">
        {# Include Menu file #}
        {{ include('CodemonkeyPortfolioBundle:Includes:menu.html.twig') }}

        {# Include Slider file #}
        {{ include('CodemonkeyPortfolioBundle:Includes:slider.html.twig') }}

        <!-- BEGIN CONTENT WRAPPER -->
        <div id="content-wrapper" class="content-wrapper">
            <div class="container">
                <!-- Secondary Content -->
                <div class="clearfix">
                    <div class="grid_8">
                        <hgroup>
                            <h2>Bienvenido a Codemonkey!</h2>
                            <h3>Si tuviéramos infinito tiempo, programaríamos el mundo.</h3>
                        </hgroup>

                        <p>
                            En Codemonkey nos dedicamos a generar soluciones que faciliten el trabajo y la labor de
                            nuestros clientes.<br />
                            Enfocados principalmente en los resultados y el cliente, planeamos proyectos de principio a
                            fin con la intención de proveer el mejor retorno de inversión.
                        </p>

                        <p>
                            <b>Su proyecto, nuestro compromiso.</b><br />
                            Utilizando las mejores prácticas de la industria para brindar el mejor servicio, ajustándonos
                            a tiempos reales de desarrollo - rápidos y efectivos - así como el uso de tecnologías de
                            vanguardia que proveen soluciones escalables y de alto impacto.
                        </p>

                        <div class="hr"></div>

                        <div class="clearfix">
                            <div class="grid_4 alpha">
                                <!-- Icon Box -->
                                <div class="ico-box">
                                    <div class="ico-holder">
                                        <div class="ico-holder-inner">
                                            <i class="icon-money"></i>
                                        </div>
                                        <div class="ico-holder-back"></div>
                                    </div>
                                    <div class="ico-body inner-wrapper">
                                        <hgroup>
                                            <h4>Cuidamos su bolsillo</h4>
                                        </hgroup>
                                        <p>
                                            Ofreciendo rapidez de respuesta, desarrollo e implementación. Así como bajo
                                            costo manteniendo altos estándares de calidad para proveer un mayor retorno
                                            de inversión al cliente.
                                        </p>
                                    </div>
                                </div>
                                <!-- Icon Box / End -->
                            </div>

                            <div class="grid_4 omega">
                                <!-- Icon Box -->
                                <div class="ico-box">
                                    <div class="ico-holder">
                                        <div class="ico-holder-inner">
                                            <i class="icon-html5"></i>
                                        </div>
                                        <div class="ico-holder-back"></div>
                                    </div>
                                    <div class="ico-body inner-wrapper">
                                        <hgroup>
                                            <h4>Full Stack</h4>
                                        </hgroup>
                                        <p>
                                            Soluciones integrales desde la planeación y desarrollo del proyecto, hasta su
                                            integración con redes sociales, configuración de servidor, SEO y mantenimiento.
                                        </p>
                                    </div>
                                </div>
                                <!-- Icon Box / End -->
                            </div>
                        </div>
                    </div>

                    {# Include Last Posts file #}
                    {{ include('CodemonkeyPortfolioBundle:Includes:last_posts.html.twig') }}
                </div>
                <!-- Secondary Content / End -->

                <!-- Horizontal Rule (double) -->
                <div class="hr hr__double">
                    <div class="hr-first"></div>
                    <div class="hr-second"></div>
                </div>
                <!-- Horizontal Rule (double) / End -->

                {# Include Latest Projects file #}
                {{ include('CodemonkeyPortfolioBundle:Includes:latest_projects.html.twig') }}

                <!-- Horizontal Rule (double) -->
                <div class="hr hr__double">
                    <div class="hr-first"></div>
                    <div class="hr-second"></div>
                </div>
                <!-- Horizontal Rule (double) / End -->


                {# <!-- Clients -->
                <div class="clearfix">
                    <div class="clients">
                        <div class="grid_12">
                            <h3>Our Clients</h3>
                            <div class="list-carousel carousel__clients">
                                <ul id="clients">
                                    <li><a href="#"><img src="{{ asset('bundles/codemonkeyportfolio/images/samples/client-logo1.png') }}" height="54" width="200" alt=""></a></li>
                                    <li><a href="#"><img src="{{ asset('bundles/codemonkeyportfolio/images/samples/client-logo2.png') }}" height="54" width="200" alt=""></a></li>
                                    <li><a href="#"><img src="{{ asset('bundles/codemonkeyportfolio/images/samples/client-logo3.png') }}" height="54" width="200" alt=""></a></li>
                                    <li><a href="#"><img src="{{ asset('bundles/codemonkeyportfolio/images/samples/client-logo4.png') }}" height="54" width="200" alt=""></a></li>
                                    <li><a href="#"><img src="{{ asset('bundles/codemonkeyportfolio/images/samples/client-logo5.png') }}" height="54" width="200" alt=""></a></li>
                                    <li><a href="#"><img src="{{ asset('bundles/codemonkeyportfolio/images/samples/client-logo1.png') }}" height="54" width="200" alt=""></a></li>
                                    <li><a href="#"><img src="{{ asset('bundles/codemonkeyportfolio/images/samples/client-logo2.png') }}" height="54" width="200" alt=""></a></li>
                                    <li><a href="#"><img src="{{ asset('bundles/codemonkeyportfolio/images/samples/client-logo3.png') }}" height="54" width="200" alt=""></a></li>
                                    <li><a href="#"><img src="{{ asset('bundles/codemonkeyportfolio/images/samples/client-logo4.png') }}" height="54" width="200" alt=""></a></li>
                                    <li><a href="#"><img src="{{ asset('bundles/codemonkeyportfolio/images/samples/client-logo5.png') }}" height="54" width="200" alt=""></a></li>
                                </ul>
                                <div class="carousel-nav">
                                    <a id="prev1" class="prev" href="#"><i class="icon-chevron-left"></i></a>
                                    <a id="next1" class="next" href="#"><i class="icon-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Clients / End --> #}

            </div>

        </div>
        <!-- END CONTENT WRAPPER -->
    </div>
{% endblock %}