{# src/Codemonkey/PortfolioBundle/Resources/views/Includes/menu.html.twig #}
<header id="header" class="header">

    <div class="container clearfix">

        <div class="grid_4 mobile-nomargin">

            <div id="logo" class="logo">
                <!-- Image based Logo -->
                <a href="index.html"><img src="{{ asset('bundles/codemonkeyportfolio/images/logo.png') }}" alt="Blitz" /></a>
                <!-- Text based Logo
                <h1><a href="index.html">Blitz</a></h1> -->

                <p class="tagline">{{ 'codemonkey.menu.freelance_programming'|trans({}, 'navigation') }}</p>
            </div>

        </div>

        <div class="grid_8 mobile-nomargin">

            <nav class="primary clearfix">
                <!-- Menu -->
                <ul class="sf-menu">
                    <li class="current-menu-item">
                        <a href="{{ path('homepage') }}">{{ 'codemonkey.menu.home'|trans({}, 'navigation') }}</a>
                    </li>

                    <li>
                        <a href="">{{ 'codemonkey.menu.services'|trans({}, 'navigation') }}</a>
                    </li>

                    <li>
                        <a href="">{{ 'codemonkey.menu.blog'|trans({}, 'navigation') }}</a>
                        <ul>
                            <li><a href="">{{ 'codemonkey.menu.last_posts'|trans({}, 'navigation') }}</a></li>
                            <li><a href="">{{ 'codemonkey.menu.programming'|trans({}, 'navigation') }}</a></li>
                            <li><a href="">{{ 'codemonkey.menu.cookbook'|trans({}, 'navigation') }}</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="">{{ 'codemonkey.menu.portfolio'|trans({}, 'navigation') }}</a>
                    </li>

                    <li>
                        <a href="">{{ 'codemonkey.menu.contact'|trans({}, 'navigation') }}</a>
                        <ul>
                            <li><a href="">{{ 'codemonkey.menu.about_us'|trans({}, 'navigation') }}</a></li>
                            <li><a href="">{{ 'codemonkey.menu.cv'|trans({}, 'navigation') }}</a></li>
                            <li><a href="">{{ 'codemonkey.menu.contact_us'|trans({}, 'navigation') }}</a></li>
                        </ul>
                    </li>
                </ul>

            </nav>

        </div>

    </div>

</header>