{# src/Codemonkey/PortfolioBundle/Resources/views/Includes/slide.html.twig #}
<section id="slider" class="slider">

    <div class="fullwidthbanner-container">

        <div class="fullwidthbanner">

            <ul>

                <li data-transition="slideup">
                    {# Tamaño de las imágenes 1260x430 de fondo y 480x400 las sobre puestas #}
                    {# Copyright Aurimas Adomavicius http://www.flickr.com/photos/needoptic/ #}
                    <img src="{{ asset('bundles/codemonkeyportfolio/images/slider/image1.jpg') }}" />
                    <div class="caption center sft str very_large_black_text"
                         data-x="270"
                         data-y="80"
                         data-speed="500"
                         data-start="0"
                         data-easing="easeOutBack">{{ 'codemonkey.home.slide1a'|trans({}, 'content') }}<br /> <strong>Codemonkey</strong></div>
                    <div class="caption center sfb stl very_big_white"
                         data-x="155"
                         data-y="270"
                         data-speed="300"
                         data-start="1000"
                         data-easing="easeOutBack">{{ 'codemonkey.home.slide1b'|trans({}, 'content') }}</div>
                </li>

                {# Copyright Victor1558 http://www.flickr.com/photos/76029035@N02/ #}
                <li data-transition="slideup">
                    <img src="{{ asset('bundles/codemonkeyportfolio/images/slider/image2.jpg') }}" />
                    <div class="caption sft str big_orange"
                         data-x="560"
                         data-y="165"
                         data-speed="700"
                         data-start="1700"
                         data-easing="easeOutBack">{{ 'codemonkey.home.slide2a'|trans({}, 'content') }}</div>
                    <div class="caption sfb stl big_black"
                         data-x="560"
                         data-y="217"
                         data-speed="500"
                         data-start="2100"
                         data-easing="easeOutBack">{{ 'codemonkey.home.slide2b'|trans({}, 'content') }}</div>

                    {#<div class="caption lfl stl"
                         data-x="0"
                         data-y="30"
                         data-speed="600"
                         data-start="1100"
                         data-easing="easeOutExpo" ><img src="http://placehold.it/480x400" alt="Image 2"></div>#}
                </li>

                {# Copyright ePublicist http://www.flickr.com/photos/epublicist/ #}
                <li data-transition="slidedown">
                    <img src="{{ asset('bundles/codemonkeyportfolio/images/slider/image3.jpg') }}" />
                    <div class="caption sft str big_orange"
                         data-x="560"
                         data-y="165"
                         data-speed="700"
                         data-start="1700"
                         data-easing="easeOutBack">{{ 'codemonkey.home.slide3a'|trans({}, 'content') }}</div>
                    <div class="caption sfb stl big_black"
                         data-x="560"
                         data-y="217"
                         data-speed="500"
                         data-start="2100"
                         data-easing="easeOutBack">{{ 'codemonkey.home.slide3b'|trans({}, 'content') }}</div>

                    {# <div class="caption lfl stl"
                         data-x="0"
                         data-y="0"
                         data-speed="600"
                         data-start="1100"
                         data-easing="easeOutExpo"  ><img src="http://placehold.it/501x430" alt="Image 2"></div> #}
                </li>

                {# Copyright Kevin Dooley http://www.flickr.com/photos/pagedooley/ #}
                <li data-transition="slidedown">
                    <img src="{{ asset('bundles/codemonkeyportfolio/images/slider/image4.jpg') }}" />
                    <div class="caption sft str big_orange"
                         data-x="560"
                         data-y="165"
                         data-speed="700"
                         data-start="1700"
                         data-easing="easeOutBack">{{ 'codemonkey.home.slide4a'|trans({}, 'content') }}</div>
                    <div class="caption sfb stl big_black"
                         data-x="560"
                         data-y="217"
                         data-speed="500"
                         data-start="2100"
                         data-easing="easeOutBack">{{ 'codemonkey.home.slide4b'|trans({}, 'content') }}</div>

                    {#<div class="caption lfl stl"
                         data-x="0"
                         data-y="0"
                         data-speed="600"
                         data-start="1100"
                         data-easing="easeOutExpo"  ><img src="http://placehold.it/460x430" alt="Image 2"></div>#}
                </li>

            </ul>

        </div>

    </div>

</section>