{# app/app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<!--[if IE 7]>                  <html class="ie7 no-js" lang="en">     <![endif]-->
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js" lang="en">  <!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Code Monkey | Si tuvieramos infinito tiempo, programaríamos el mundo.{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}">
        <link rel="apple-touch-icon" href="{{ asset('images/apple-touch-icon.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('images/apple-touch-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('images/apple-touch-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('images/apple-touch-icon-144x144.png') }}">

        <meta name="description" content="">
        <meta name="author" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        {% stylesheets 'bundles/codemonkeyportfolio/css/*' filter="cssrewrite" output='css/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
        <!-- BEGIN WRAPPER -->
        <div id="wrapper">
            <div id="top-bar" class="top-bar">
                <div class="container clearfix">
                    <div class="grid_6 top-txt hidden-phone">
                        Bienvenido a Codemonkey!
                    </div>
                    <div class="grid_6 acc-txt mobile-nomargin">
                        &iquest;Tienes cuenta? <a href="#">Entra</a> o <a href="#">regístrate</a>
                    </div>
                </div>
            </div>

            {% block body %}{% endblock %}

            <!-- BEGIN FOOTER -->
            <footer id="footer" class="footer">
                <!-- Footer Widgets -->
                <div class="widgets-footer">
                    <div class="container clearfix">
                        <div class="grid_3">
                            <!-- Social Widget -->
                            <div class="social-widget widget widget__footer">
                                <h3 class="widget-title">Redes Sociales</h3>
                                <div class="widget-content">
                                    <ul class="social-links">
                                        <li class="link-twitter"><a href="https://www.twitter.com/der_ketzer"><i class="icon-twitter"></i></a></li>
                                        <li class="link-facebook"><a href="https://www.facebook.com/derketzer"><i class="icon-facebook"></i></a></li>
                                        <li class="link-google"><a href="https://plus.google.com/+DerKetzerd"><i class="icon-google-plus"></i></a></li>
                                        <li class="link-rss"><a href="#"><i class="icon-rss"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /Social Widget -->
                        </div>
                        <div class="grid_3">
                            <!-- Twitter Widget -->
                            <div class="twitter-widget widget widget__footer">
                                <h3 class="widget-title">Twitter</h3>
                                <div class="widget-content">
                                    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/der_ketzer"  data-widget-id="399406678853963776">Tweets von @der_ketzer</a>
                                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                                </div>
                            </div>
                            <!-- /Twitter Widget -->
                        </div>

                        <div class="grid_3">
                            <!-- Recent Post Widget -->
                            <div class="recent-posts widget widget__footer">
                                <h3 class="widget-title">Música</h3>
                                <div class="widget-content">
                                    <iframe src="https://embed.spotify.com/follow/1/?uri=spotify:user:der_ketzer&size=detail&theme=dark&show-count=0" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
                                    <br />
                                    <br />
                                    <ul class="recent-posts-list">
                                        {% for song in lastfm %}
                                            <li><a href="{{ song.url }}">{{ song.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <!-- /Recent Post Widget -->
                        </div>

                        <div class="grid_3">
                            <!-- Recent Post Widget -->
                            <div class="recent-posts widget widget__footer">
                                <h3 class="widget-title">Leyendo en este momento</h3>
                                <div class="widget-content">
                                    <a href="www.amazon.com.mx/Data-Mining-Techniques-CRM-Segmentation-ebook/dp/B005UQLI6E/ref=sr_1_3">
                                        <img src="{{ asset('bundles/codemonkeyportfolio/images/book_cover/book1.jpg') }}" />
                                    </a>
                                </div>
                            </div>
                            <!-- /Recent Post Widget -->
                        </div>
                    </div>
                </div>
                <!-- /Footer Widgets -->

                <!-- Copyright -->
                <div class="copyright">
                    <div class="container clearfix">
                        <div class="grid_12 mobile-nomargin">
                            <div class="clearfix">
                                <div class="copyright-primary">
                                    codemonkey &copy; 2013
                                </div>
                                <div class="copyright-secondary">
                                    Created by <a href="http://themeforest.net/user/dan_fisher">Dan Fisher</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Copyright -->

            </footer>
            <!-- END FOOTER -->
        </div>
        <!-- END WRAPPER -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        {% javascripts '@CodemonkeyPortfolioBundle/Resources/public/js/*' output='js/main.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>